.DS_Store
__pycache__/
launch.json

**/data/**
**/*.zip
**/models/**
food_orders/**
**/finland/kunta**
**/finland/**wfs**

#venv-related files
# Ignore bin, etc, iamges, lib, include, share, pyvenv.cfg, .Python, pip-selfcheck.json
**/bin/**
**/etc/**
**/images/**
**/lib/**
**/include/**
**/share/**
**/pyvenv.cfg
# **/.Python
# **/pip-selfcheck.json